{% extends 'layout.html' %}


{% block content %}

<div class="info">
    <br>
    <br>
    <h1>¡Bienvenido!</h1>
    <h2>Method Solver</h2>
    <br>
    <br>
    <br>
    <h3>Method Solver es una página creada por un grupo de estudiantes de la Universidad EAFIT</h3>
    <h3>en la cuál podrás encontrar diferentes métodos matemáticos en donde puedes ingresar</h3>
    <h3>valores para encontrar las respuestas a tus funciones</h3>
    <br>    
    <a class="btn btn-primary btn-lg " href="/menu"> ¡Explora Los Métodos!</a>
</div>



{% endblock %}