{% extends 'layout.html' %}

{% block content %}

<div class="info">
    <br>
    <br>
    <h1>¡Bienvenido!</h1>
    <p>Method Solver</p>
</div>

<div class="menu">
    <div class="row mt-5 mb-12 ">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Biseccion</h5>
                    <a href="/biseccion" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Biseccion</h5>
                    <a href="/biseccion" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}