{% extends 'layout.html' %}



{% block content %}

<div class="menu">
    <div class="row mt-5 mb-12 ">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Biseccion</h5>
                    <a href="/biseccion" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Punto Fijo</h5>
                    <a href="/puntoFijo " class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Newton-Raphson</h5>
                    <a href="/newton" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Regla Falsa</h5>
                    <a href="/reglaFalsa" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Secante</h5>
                    <a href="/secante" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">LU directa</h5>
                    <a href="/luDirecta" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Raíces Múltiples</h5>
                    <a href="/raicesMultiples" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Biseccion</h5>
                    <a href="/biseccion" class="btn btn-primary">Calcular</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}