{% extends 'layout.html' %}



{% block content %}


<div class="info">
    <br>
    <br>
    <h3>Solucion sistemas de una variable</h3>
</div>

<div class="album py-5 bg-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bisección</h5>
                    <a href="/biseccion" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Punto Fijo</h5>
                    <a href="/puntoFijo " class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Newton-Raphson</h5>
                    <a href="/newton" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Regla Falsa</h5>
                    <a href="/reglaFalsa" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Secante</h5>
                    <a href="/secante" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Raíces Múltiples</h5>
                    <a href="/raicesMultiples" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <br>
    <br>
    <h3>Solución de sistemas de ecuaciones</h3>
</div>

<div class="album py-5 bg-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Metodos Iterativos</h5>
                    <a href="/iterativeMethods" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <br>
    <br>
    <h3>Interpolacion</h3>
</div>

<div class="album py-5 bg-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">VanderMonde</h5>
                    <a href="/vandermonde" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Spline</h5>
                    <a href="/splineMethods" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Newton - DifDiv</h5>
                    <a href="/newton-difDiv" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}