{% extends 'layout.html' %}



{% block content %}

<div class="album py-5 bg-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bisección</h5>
                    <a href="/biseccion" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Punto Fijo</h5>
                    <a href="/puntoFijo " class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Newton-Raphson</h5>
                    <a href="/newton" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Regla Falsa</h5>
                    <a href="/reglaFalsa" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Secante</h5>
                    <a href="/secante" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">LU directa</h5>
                    <a href="/luDirecta" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Raíces Múltiples</h5>
                    <a href="/raicesMultiples" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Jacobi / Gauss-Seidel</h5>
                    <a href="/jacobi-gSeidel" class="btn btn-secondary">Calcular</a>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}