{% extends "layout.html" %}

{% block content %}


<div class="info">
    <br>
    <br>
    <p>Metodo biseccion</p>
</div>

<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="funcion">Funcion</label>
                        <input type="text" 
                                class="form-control" 
                                name="funcion" 
                                placeholder="Example input">

                        <label for="funcion">Tolerancia</label>
                        <input type="text" 
                                class="form-control" 
                                name="tolerancia"  
                                placeholder="Example input">

                        <label for="funcion">Iteraciones</label>
                        <input type="number" 
                                class="form-control" 
                                name="iteraciones" 
                                placeholder="Example input">

                        <label for="funcion">Valor de intervalo (X)</label>
                        <input type="number" 
                                class="form-control" 
                                name="xs" 
                                placeholder="Example input">

                        <label for="funcion">Valor de intervalo (Y)</label>
                        <input type="number" 
                                class="form-control" 
                                name="xi" 
                                placeholder="Example input">
                        
                        
                        <button type="submit" class="btn btn-outline-secondary" >Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- TODO: CUADRAR LA TABLA -->
    <div class="col-5">
        <h2>Solucion</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    {%for i in data.columns %}
                    <th scope="col">
                        <h3>{{i}}</h3>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {%for i in data.results %}
                <tr>
                    {%for j in i %}
                    <td>{{j}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}