{% extends "layout.html" %}

{% block content %}


<div class="info">
    <br>
    <br>
    <h1>Método de Gauss Seidel</h1>
</div>



<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="funcion">Matriz A</label>
                        <input type="text" 
                                class="form-control" 
                                name="matrizA" 
                                placeholder="Example input">

                        <label for="funcion">Vector X0</label>
                        <input type="text" 
                                class="form-control" 
                                name="vectorX0"  
                                placeholder="Example input">

                        <label for="funcion">Vector B</label>
                        <input type="text" 
                                class="form-control" 
                                name="vectorB" 
                                placeholder="Example input">

                        <label for="funcion">Tolerancia</label>
                        <input type="text" 
                                class="form-control" 
                                name="tolerancia" 
                                placeholder="Example input">

<!--                         <label for="funcion">Valor norma</label>
                        <input type="text" 
                                class="form-control" 
                                name="norma" 
                                placeholder="Example input"> -->

                        <label for="funcion">Iteraciones</label>
                        <input type="text" 
                                class="form-control" 
                                name="iteraciones" 
                                placeholder="Example input">

                        <button type="submit" class="btn btn-outline-secondary" >Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- TODO: CUADRAR LA TABLA -->

    <div class="col-5">
        <h2>Matrizes</h2>
        <table class="table">
            <tr>
                <th>Matriz T</th>
                <th>Matriz C</th>
            </tr>

            <tr>
                <td>{{data.t}}</td>
                <td>{{data.c}}</td>
            </tr>
        </table>
        <h2>Solucion</h2>
        <table class="table">
            <tr>
                <th>Iteraciones</th>
                <th>Error</th>
                <th>Datos</th>
            </tr>

            {% for i,j,k in data.informacion %}
            <tr>
                <td>{{i}}</td>
                <td>{{j}}</td>
                <td>{{k}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}