{% extends "layout.html" %}
{% block content %}
<div class="info">
    <br>
    <br>
    <h1>Factorizacion matriz LU</h1>
</div>

<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}

                    </div>
                </form>
            </div>
        </>

    </div>

</div>