{% extends "layout.html" %}

{% block content %}


<div class="info">
    <br>
    <br>
    <h1>Método Cuadratico</h1>
</div>



<div class="row mt-5 mb-10">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingrese sus datos</h5>
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="funcion">X</label>
                        <input type="text" 
                                class="form-control" 
                                name="x" 
                                placeholder="Example input">

                        <label for="funcion">Y</label>
                        <input type="text" 
                                class="form-control" 
                                name="y"  
                                placeholder="Example input">
                        <button type="submit" class="btn btn-outline-secondary">Evaluar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Resultado -->

    <div class="col-5">

        {% if coef %}
        <table class="table">
            <thead class="thead-dark">
                <h3>Coefficients</h3>
                <tr>
                    <th scope="col">VALUES </th>
                </tr>
            </thead>
            <tbody>
                {%for i in coef %}
                <tr>
                    <td>
                        <h4>{{i}}</h4>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
                <h3>Polynomial</h3>
                <tr>
                    <th scope="col">VALUES</th>
                </tr>
            </thead>
            <tbody>
                {%for i in tracers %}
                <tr>
                    <td>
                        <h4>{{i}}</h4>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    {% endblock %}